body {
    width:1310px;
    margin: auto;
    
}

html { 
    background-color: black; 
}



main { 
    background-color: white;
    padding-right: 40px;
    padding-left: 40px;
}

section {
    display:inline-flex;
    
}


nav {
    display:block;
    float:right;
}

a:hover {
    color: #007D7B;
}



nav a {
    color: #ffffff ;
    display: inline-block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

nav li {
    float: left;
}

ul {
    margin-left: auto;
    overflow: hidden;
}
  
p, h1, a, h2 {
    font-family:Arial, Helvetica, sans-serif;
}

h1,::placeholder {
    color: #007D7B;
}

h1 {
    display: inline-block;
}

.white {
    color: #ffffff;
}

h2 {
    display:flexbox;
}

footer {
    text-transform: uppercase;
    font-weight: bold;
}

